{% load static %}

<div class="container mt-5">
  <h1 class="member-head">Daily Exercise</h1>
  <div class="d-flex flex-column mb-1 pricing-table">
    <ul>
      <li class="member-card d-flex flex-row">
        <img class="member-img" src="{% static 'image/exercise-main.jpeg' %}" alt=""/>
        <div class="member-text">
          <h2>Bicep Curl</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam rutrum aliquam metus sed laoreet. Etiam varius velit 
            vitae ipsum ullamcorper, ac dignissim mauris elementum. 
            Mauris pellentesque eros non ultricies finibus. 
          </p>
        </div>
      </li>
      <li class="member-card d-flex flex-row">
        <img class="member-img" src="{% static 'image/exercise-main.jpeg' %}" alt=""/>
        <div class="member-text">
          <h2>Bicep Curl</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam rutrum aliquam metus sed laoreet. Etiam varius velit 
            vitae ipsum ullamcorper, ac dignissim mauris elementum. 
            Mauris pellentesque eros non ultricies finibus. 
          </p>
        </div>
      </li>
      <li class="member-card d-flex flex-row">
        <img class="member-img" src="{% static 'image/exercise-main.jpeg' %}" alt=""/>
        <div class="member-text">
          <h2>Bicep Curl</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam rutrum aliquam metus sed laoreet. Etiam varius velit 
            vitae ipsum ullamcorper, ac dignissim mauris elementum. 
            Mauris pellentesque eros non ultricies finibus. 
          </p>
        </div>
      </li>
      <li class="member-card d-flex flex-row">
        <img class="member-img" src="{% static 'image/exercise-main.jpeg' %}" alt=""/>
        <div class="member-text">
          <h2>Bicep Curl</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam rutrum aliquam metus sed laoreet. Etiam varius velit 
            vitae ipsum ullamcorper, ac dignissim mauris elementum. 
            Mauris pellentesque eros non ultricies finibus. 
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>