{% extends 'main/base.html' %}
{% load static %}

{% block header %}{% endblock %}

{% block body %}
  <div class='bg-image text-center shadow-1-strong rounded text-white' style="background-image: url({% static 'image/exercise-main.jpeg' %}); height: 100vh ;background-size: cover; background-repeat: no-repeat;">
    <div class="mask " style="background-color: rgba(0, 0, 0, 0.6); height: 100vh;">
      <!-- Nav -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparant" style="height: 5vh">
        <!-- Container wrapper -->
        <div class="container-fluid purple-600">
      
          <!-- Collapsible wrapper -->
            <!-- Left links -->
            <ul class="nav d-flex me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page" href="#">StarFitness</a>
              </li>
            </ul>
            <!-- Right links -->
            <ul class="nav d-flex justify-content-end ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page" href="{% url 'main:home' %}">Home</a>
                <li class="nav-item">
                  <a class="nav-link active link-light" aria-current="page" href="#">Login</a>
                </li>
              </li>
            </ul>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Nav -->

      <div class="d-flex flex-column justify-content-center align-items-center" style="height: 95vh">

        <h1 class="mb-3">Welcome to StarFitness!</h1>
        <h4 class="mb-5">{% lorem 1 b random %}</h4>
        <a class="btn btn-outline-light btn-lg" href="" role="button">Register</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}