{% extends 'main/base.html' %}
{% load static %}

{% block title %}Star Fitness - Member{% endblock %}

<!-- Extend for more links -->
{% block head %}
<link href="{% static 'css/member-style.css' %}" rel="stylesheet">
{% endblock %}

<!-- Body -->
{% block body %}
<section>
  {% if request.user.is_authenticated and subscription.status == 'active' %}
    <p>You are subscribed now</p>
  {% else %}
    {% include 'main/partials/member-subscription.html' %}
  {% endif %}
</section>
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}{% endblock %}