{% extends 'main/base.html' %}
{% load static %}

{% block title %}Star Fitness - Member{% endblock %}

<!-- Extend for more links -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<section>
  <h1>Member</h1>
  {% if request.user.is_authenticated and subscription.status == 'active' %}
    <p>You are subscribed now</p>
  {% else %}
    {% if request.user.is_authenticated %}
      <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
    {% else %}
      <p>You need to login to subscribe</p>
    {% endif %}
  {% endif %}
</section>
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}{% endblock %}