{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Star Fitness - Logout{% endblock %}

<!-- Extend for more links -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<section class="container">
  <h1>Log Out</h1>
  <p>Are you sure you want to log out?</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{ form | crispy}}
    <button class="btn btn-danger" type="submit">Log Out</button>
  </form>
</section>
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}{% endblock %}