{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Star Fitness - Logout{% endblock %}

<!-- Extend for more links -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<section class="container section-body d-flex align-items-center">
  <div>
    <h1>Log Out</h1>
    <p>Are you sure you want to log out?</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {{ form | crispy}}
      <button class="btn btn-danger" type="submit">Log Out</button>
    </form>
  </div>
</section>
{% endblock %}

<!-- Footer -->
{% block footer %}
{% include 'account/partials/account_footer.html' %}
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}{% endblock %}